<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des Recettes</title>
</head>
<body>
    <h2>Liste des Recettes</h2>

    <!-- Liens de Filtrage par Catégorie -->
    <div>
        <a href="/recettes/categorie/65671ef26d890de6e552708b">Dessert</a>
        <a href="/recettes/categorie/65671ef26d890de6e552708c">Végétarien</a>
        <a href="/recettes/categorie/65671ef26d890de6e552708d">Rapide</a>

    </div>

    <% if (messages.success) { %>
        <div style="color: green;"><%= messages.success %></div>
    <% } %>
    <% if (messages.error) { %>
        <div style="color: red;"><%= messages.error %></div>
    <% } %>

    <ul>
        <% recettes.forEach(function(recette) { %>
            <li>
                <%= recette.titre %>
                - <a href="/recettes/detail/<%= recette._id %>">Voir</a>
                - <a href="/recettes/modifier/<%= recette._id %>">Modifier</a>
                - <a href="/recettes/supprimer/<%= recette._id %>" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette recette ?');">Supprimer</a>
            </li>
        <% }); %>
    </ul>
    
</body>
</html>



